<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <ol>
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id"
        ></todo-item>
      </ol>
      <button-counter></button-counter>
      <button-counter></button-counter>
      <div :style="{fontSize: fontSize + 'em'}">
        <blog-post
          v-for="item in posts"
          v-bind:post="item"
          v-bind:key="item.id"
          v-on:enlarge-text="onEnlargeText"
        ></blog-post>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      Vue.component("button-counter", {
        data: function() {
          return {
            count: 0
          };
        },
        template: '<button @click="count++">clicked {{count}} times</button>'
      });
      Vue.component("todo-item", {
        props: ["todo"], // 组件接受外部传值 todo
        template: "<li>{{todo.text}}</li>"
      });
      Vue.component("blog-post", {
        props: ["post"],
        template: `
          <div class="blog-post">
            <h3>{{ post.title }}</h3>
            <button v-on:click="$emit('enlarge-text', 0.1)">
              Enlarge text
            </button>
          </div>
        `
      });
      var app = new Vue({
        el: "#app",
        data: {
          fontSize: 1,
          groceryList: [
            { id: 0, text: "Vegetables" },
            { id: 1, text: "Cheese" },
            { id: 2, text: "Whatever else humans are supposed to eat" }
          ],
          posts: [
            { id: 1, title: "My journey with Vue" },
            { id: 2, title: "Blogging with Vue" },
            { id: 3, title: "Why Vue is so fun" }
          ]
        },
        methods: {
          onEnlargeText: function(val) {
            this.fontSize += val;
          }
        }
      });
    </script>
  </body>
</html>
